@model IEnumerable<Student>

@{
    ViewBag.Title = "学生列表";
}


<div class="card-deck">
        @foreach (var student in Model)
        {
            //var photoPath = "~/Images/avatars/" + (student.PhotoPath ?? "weixin.jpg");

            var photoPath = "~/Images/avatars/weixin.jpg";

            if (student.PhotoPath!=null)
            {
                photoPath = "~/Images/avatars/" + (student.PhotoPath ?? "weixin.jpg");
            }


            <div class="card m-3">
                <div class="card-header">
                    <h3 class="card-title">@student.Name</h3>
                </div>

                <img class="card-img-top" src="@photoPath"  asp-append-version="true" />

                <div class="card-body text-center">
                    <h5 class="card-title">主修科目：@student.MaJor.GetDisplayName()</h5>
                </div>

                <div class="card-footer text-center">
                    <a asp-controller="home" class="btn btn-info" asp-action="details" asp-route-id="@student.Id" >查看</a>
                    <a asp-controller="home" class="btn btn-primary m-1" asp-action="Edit" asp-route-id="@student.Id" >编辑</a>
                    <a asp-controller="home" class="btn btn-danger" asp-action="Detele" asp-route-id="@student.Id" >删除</a>

                </div>

            </div>
        }
    </div>
